<form name="form1" method="post">
  <div id="topRow">
    <div class="col">
      <div class="instructionsSmooth"><span class="header">Send me my due payment information</span>
        <p>Email submitted successfully</p></div>
      <div class="options">
        <div class="question">&nbsp;&nbsp;</div>
        <div class="formInput">
          <p>If you have registered for any room reservations with the email <em><strong>#userEmail#</strong></em>, you should shortly recieve a message listing any outstanding payments due. </p>
          <p>If you would like to enter another address, please <a href="#paymentLink#">click here</a>.</p>
        </div>
    </div>
  </div>
</form>